@model List<BookModel>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    td{
        text-align: right;
        padding: 10px;
    }
    th {
        text-align: right;
        padding: 10px;
    }

</style>

<table class="table table-bordered table-striped text-light">
    <thead>
        <tr colspan="5">
            <!--LABEL THESE-->
            <th>Book</th>
            <th>Rating</th>
            <th>Reading Status</th>
            <th>Summary</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.Rating</td>
                <td>@book.Status</td>
                

                <td>
                    <a asp-controller="Home" asp-action="Summary"
                     asp-route-id="@book.BookId"
                     asp-route-slug="@book.Slug">Summary</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Edit"
                     asp-route-id="@book.BookId"
                     asp-route-slug="@book.Slug">Edit</a>
                 </td>
                 <td>
                     <a asp-controller="Home" asp-action="Delete"
                      asp-route-id="@book.BookId"
                      asp-route-slug="@book.Slug">Delete</a>
                 </td>
            </tr>

        }
    </tbody>
</table>

